@import url("utility.css");


.flex-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  
.flex-item {
    background-color: rgba(var(--flex-color), 0.5);
    border: 4px dashed rgba(var(--flex-border-color), 0.75);
    padding: 1.5em;
    border-radius: 4rem;
}