@import url("utility.css");


.grid-container {
    display: grid;
    grid:
    'footer content header';
    gap: 5rem;
    grid-auto-columns: min-content;
}
  
.grid-item {
    background-color: rgba(var(--grid-color), 0.3);
    border: 8px dotted rgba(var(--grid-color), .8);
    border-radius: 0rem;
    padding: 3em;
}
  