@import url("utility.css");


.flex {
    display: flex;
    gap: 2rem;
  }
  
  .flex__item {
    background-color: rgba(var(--flex-color), 0.25);
    border: 3px dashed rgba(var(--flex-color), 1);
    padding: 4em;
    border-radius: 6rem;

  }
  


  .grid {
    display: grid;
    gap: 3rem;
  }
  
  .grid__item {
    background-color: rgba(var(--grid-color), 0.5);
    border: 3px dashed rgba(var(--grid-color), 1);
    border-radius: 2rem;
    padding: 4em;
}
  