/* CSS Variables */

:root {

/*
--red:        239, 071, 111;  
--yellow:     255, 209, 102;  
--blue:       038, 084, 124;  
*/

--flex-color:   119, 200, 231;
--grid-color:   232, 153, 198;
--flex-border-color: 8, 102, 133;
--text-color:   82, 54, 163;

}

/* Utility Styles */

html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    color: rgba(var(--text-color), 1);
    padding: 1rem;
}

section {
    border-bottom: 2px dashed rgba(var(--text-color), 0.5);
    padding: 2rem;
    margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(var(--text-color), 1);
    line-height: 1;
    margin-bottom: 2rem;
}

p {
    color: rgba(var(--text-color), 1);
    line-height: 1.45;
}

a {
    color: rgba(var(--flex-color), 1);
}